[submodule "lib/tinlake"]
	path = lib/tinlake
	url = https://github.com/centrifuge/tinlake
[submodule "lib/dss-interfaces"]
	path = lib/dss-interfaces
	url = https://github.com/makerdao/dss-interfaces
[submodule "lib/ds-value"]
	path = lib/ds-value
	url = https://github.com/dapphub/ds-value
